<!DOCTYPE html>
<html>
  <head>
    <% include ./../partials/head %>
  </head>
  <body>
  	<% include ./../partials/header.ejs %>
  	<% include ./../partials/sidebar.ejs %>
  	<div class="main">
  		<% authors.forEach(function(authors){ %>
        <div class="item">
            <a href="./<%= authors.id %>"><img class="author-portrait" src=<%= authors.cover_url || "http://lorempixel.com/image_output/cats-q-c-640-480-3.jpg"%> > </a>
          <div>
            <a href="./authors/<%= authors.id %>"><h3 class="author-name"><%= authors.first_name + " " + authors.last_name%></h3></a>
            <p><%= authors.biography
            || "No Description Avalible" %> </p>
          </div>
        </div>
      <% }); %>
  	</div>
  </body>
</html>
