<!DOCTYPE html>
<html>
  <head>
    <% include ./../partials/head %>
  </head>
  <body>
  	<% include ./../partials/header.ejs %>
  	<% include ./../partials/sidebar.ejs %>
  	<div class="main"> 
  		<% books.forEach(function(books){ %>
  			<% if (books.id == id) { %>
        <div class="item">
  					<img class="book-cover" src=<%= books.cover_url || "http://lorempixel.com/image_output/nature-q-g-640-480-10.jpg"%> >
  				<div>
  					<h3 class="book-title"><%= books.title%></h3>
  					<h4 class="book-author">By: <%= books.author_list || "Unknown"%></h4>
  					<h4><i>Genre: <%= books.genre || "Unknown"%></i></h4>
  					<p><%= books.description 
  					|| "No Description Avalible" %> </p>
  				</div>
  			</div>
  		<% }}); %>
  	</div>
  </body>
</html>